[submodule "mstrreamadmin"]
	path = mstrreamadmin
	url = https://github.com/ManeeshChikoti/mstrreamadmin.git
[submodule "mstreamuser"]
	path = mstreamuser
	url = https://github.com/ManeeshChikoti/mstreamuser.git
